<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBeXvHBbk0FuZkeixJ7Lhc3kE5WZBI-JqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>77010199551</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aala.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>aalaapp-5c914</string>
	<key>STORAGE_BUCKET</key>
	<string>aalaapp-5c914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:77010199551:ios:add20faa8669d73cfb3dca</string>
</dict>
</plist>